{{> header}}
<h1>Character {{id}}</h1>
<div>
    <b>{{character.name}}</b>
</div>
<div>
    <b>Race: {{character.race}}</b>
</div>
<div>
    <b>Class: {{character.characterClass}}</b>
</div>
{{> footer}}